<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507237477096-5not8v7ksi5ufok3caprkc58nnu36tk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507237477096-5not8v7ksi5ufok3caprkc58nnu36tk3</string>
	<key>API_KEY</key>
	<string>AIzaSyA4maOo2cU8wBGCGrGt33c1bHK1zsZBbog</string>
	<key>GCM_SENDER_ID</key>
	<string>507237477096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.register.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>vertical-prototype-70c6c</string>
	<key>STORAGE_BUCKET</key>
	<string>vertical-prototype-70c6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507237477096:ios:b620355dcc05a43029b75d</string>
</dict>
</plist>